/* Global styles */
body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(180deg, #000 10%, transparent 90%);
    background-repeat: no-repeat; /* Evita que el gradient se repita */
    background-attachment: fixed; /* Dark background */
    color: #e0e0e0; /* Light text color */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    padding: 20px;
}

/* Post detail container */
.detail-container {
    width: 90%;
    max-width: 900px;
    margin: 40px auto;
    padding: 30px;
    background-color: #424242; /* Dark grey background */
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Subtle shadow */
    color: #e0e0e0;
    text-align: center;
}

/* Title */
.detail-container h1 {
    font-size: 2.8em;
    color: #fff; /* Light blue */
    margin-bottom: 10px;
    font-weight: bold;
}

/* Date */
.detail-container h5 {
    color: #b0bec5; /* Softer grey for the date */
    font-size: 1.1em;
    margin-bottom: 20px;
}

/* Image */
.detail-container img {
    width: 100%;
    max-width: 800px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4); /* Soft shadow for the image */
}

/* Description */
.detail-container p {
    font-size: 1.2em;
    line-height: 1.8;
    color: #e0e0e0;
    text-align: justify;
    margin-top: 20px;
}



