{% extends 'layouts/base.html' %}

{% block 'styles' %}
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
{% endblock %}

{% block content %}
        <h1>Posts</h1>
        <div class="posts-container">
        {% for i in post %}
                <div class="post-card">
                <img src="{{ i.imagen.url }}" alt="Post Image" class="post-image">
                <div class="post-details">
                <h2>{{ i.titulo }}</h2>
                <p>{{ i.descripcion }}</p>
                <p class="post-date">{{ i.fecha }}</p>
                <a href="{% url 'blog:detalle_post' i.id %}" class="post-button">Leer más</a>
                </div>
                </div>
        {% endfor %}
        </div>
{% endblock %}
